[Unit]
Description=Regenerate Proxmox SSL certs with current IP
After=pve-cluster.service inspect-proxmox-ec2-hostname.service
Before=pvedaemon.service pveproxy.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/inspect-proxmox/ec2-certs
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
