[Unit]
Description=Regenerate root password when EC2 instance-id changes
After=network-online.target
Wants=network-online.target
Before=pveproxy.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/inspect-proxmox/ec2-password
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
